/* main: styles.sass*/
@import "variables"
.row
  margin: 0
#our-people, #our-people-2
  .col-xs-4.col-sm-3
    padding: 0
    overflow: hidden
  img
    max-width: 100%
    &:hover
      opacity: .45
      transform: scale(1.15) rotate(5deg)
      transition: all .5s
    transition: all .5s
#our-people-2
  border-bottom: 3px solid $red
