/* main: styles.sass*/
// Font-Sizes
$bigger-text: 1.25em
// Fonts-Families
$main-font: 'Questrial', sans-serif
$brand-font: 'Seaweed Script', cursive
// Style Format
@mixin wrap
  max-width: 1100px
  margin-left: auto
  margin-right: auto
@mixin paddings
  padding-top: 5.75em
  padding-bottom: 3em
@mixin center-item
  margin: 0 auto
@mixin horizon
  width: 3em
  border-bottom: 3px solid $red
  border-top: none
// Colors
$red: rgb(241, 21, 21)
