@import "navbar"
@import "variables"
@import "cta-main"
@import "main-food"
@import "our-people"

body
  h2
    font-size: 275%
  #all-site-wrapper
    margin: 0 auto
    padding: 0
    position: relative
    // Header
    .header
      position: relative
      top: 0
      height: 85vh
      border-bottom: 1px solid rgb(51, 51, 51)
      background:
        image: url('../assets/images/background-img.jpg')
        position: center
        attachment: fixed
        repeat: no-repeat
        size: cover
      .header-text
        @include wrap
        h1, h3
          position: relative
          margin: 0 auto
          text-align: center
          top: 30vh
          color: white
          text-shadow: 1px 1px 1px #232323
        h1
          font-family: $brand-font
          font-size: 6em
        h3
          font-family: $main-font
        hr
          width: 30vw
    .main-content
      @include wrap
      @include paddings
      padding-left: 1.5em
      padding-right: 1.5em
      .inner-wrapper#main
        margin: 0 auto
        min-height: 500px
        text-align: justify
        position: relative
        border: 1px solid rgba(52, 52, 52, 0.4)
        background:
          image: url('../assets/images/casa_soria.jpg')
          position: center
          repeat: no-repeat
          size: cover
        &:hover
          background-image: linear-gradient(rgba(3, 2, 2, 0.7) 100%, transparent), url('../assets/images/casa_soria.jpg')
          transition: all .15s ease
    .secondary-content
      background-color: $black
      font-family: $main-font
      color: white
      hr
        @include horizon
      #title-bottom
        @include paddings
      .footer
        @include paddings-small
        @include wrap
        .fb_iframe_widget span
          overflow: initial !important
        .fb_iframe_widget iframe
          width: 300px !important
          height: 150px !important
